body {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

.card {
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    width: 350px;
    height: 350px;
    text-align: left;
    padding: 20px;
}

#thank-state {
    text-align: center;
}

h1 {
    color: hsl(0, 0%, 100%);
}

.circle {
    padding: 10px;
    border-radius: 50%;
    background-color:  hsla(216, 12%, 54%, 0.1);
}


.attribution { font-size: 11px; text-align: center; margin-top: 10px; }
.attribution a { color: hsl(228, 45%, 44%); }